@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is a Web based Application, Which provied the user with the crime data of the City of Chicago.</p>
<p>For Public Knowledge...</p>
