@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Student <br />
    Computer Science <br />
    CS341 Project 7 <br />
    NetID: jpate225 <br />
    University of Illinois at Chicago <br/>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jpate225@uic.edu">jpate225@uic.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:jaypee011197@gmail.com">jaypee011197@gamil.com</a>
</address>
